<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dnd Cards</title>
    <link rel="icon" href="static/img/icone.ico" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery (nécessaire pour Bootstrap Table) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap Table-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <!-- Include Bootstrap Table locale (fr-FR) -->
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/locale/bootstrap-table-fr-FR.min.js"></script>


    <!-- Mon javascript/Css -->
    <script type="text/javascript" src="static/script/script.js"></script>
    <link href="static/style/style.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="box_titre mb-4">
            <span class="badge text-bg-light">
                <h1><i class="bi bi-book-half"></i> Dnd Création de carte</h1>
            </span>
        </div>
        <div id="class_sort">
            <h2><i class="bi bi-1-circle-fill"></i>   <i class="bi bi-cursor-fill"></i> Veuillez selectioner votre classe de lanceur de sort :</h2>
            <div class="row row-cols-2 row-cols-md-5 g-2 justify-content-center">
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_barde.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-barde" onclick="tableau_selector('barde')">Barde</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_barde">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_clerc.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-clerc" onclick="tableau_selector('clerc')">Clerc </button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_clerc">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_druide.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-druide" onclick="tableau_selector('druide')">Druide</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_druide">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_ensorceleur.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-ensorceleur" onclick="tableau_selector('ensorceleur')">Ensorceleur</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_ensorceleur">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_magicien.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-magicien" onclick="tableau_selector('magicien')">Magicien</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_magicien">
                            </div>
                    </div>
                </div>
                <div class="col">
                  <div class="card h-100 text-center card-small">
                      <img src="static/img/icone_type_classe/icone_occultiste.png" class="card-img-top" >
                      <div class="card-body">
                          <p class="card-text"><button type="button" class="btn btn-occultiste" onclick="tableau_selector('occultiste')">Occultiste</button></p>
                          <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_occultiste">
                          </div>
                  </div>
              </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_paladin.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-paladin" onclick="tableau_selector('paladin')">Paladin</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_paladin">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_rodeur.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-rodeur" onclick="tableau_selector('rodeur')">Rodeur</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_rodeur">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center card-small">
                        <img src="static/img/icone_type_classe/icone_multiclasse.png" class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text"><button type="button" class="btn btn-multiclasse" onclick="tableau_selector('multiclasse')">Tous les sorts</button></p>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="card_multiclasse">
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table">
            <br><br>
            <h2><i class="bi bi-2-circle-fill"></i>   <i class="bi bi-list-check"></i> Ensuite sélectionner les sorts que vous voulez en les cochant </h2> <br>
            <button type="button" class="btn btn-primary" onclick="checkAllRows()">Tout sélectionner <i class="bi bi-check-all"></i></button>
            <button type="button" class="btn btn-danger" onclick="uncheckAllRows()">Tout désélectionner <i class="bi bi-app"></i></button>
            <table
                id="table_bootstrap"
                class="table table-light table-striped">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"> Check all</th>
                        <th data-field="name" data-sortable="true">Nom</th>
                        <th data-field="level" data-sortable="true">Niveau</th>
                        <th data-field="school" data-sortable="true">École</th>
                        <th data-field="casting_time" data-sortable="true">Temps d'incantation</th>
                        <th data-field="range" data-sortable="true">Portée</th>
                        <th data-field="components">Composantes</th>
                        <th data-field="concentration">Concentration</th>
                        <th data-field="rituel">Rituel</th>
                        <th data-field="description">Description</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
        <h2><i class="bi bi-3-circle-fill"></i>   <i class="bi bi-cursor-fill"></i> Puis cliquer sur : Télecharger le PDF</h2>
        <p><i class="bi bi-exclamation-octagon"></i> Attention la génération peut prendre du temps</p> <br>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <button type="button" class="btn btn-success" onclick="generer_pdf()">Télécharger le PDF <i class="bi bi-printer-fill"></i></button>
            <div class="spinner-border text-primary spinner-border-m" id="spinner_pdf" role="status" style="display: none">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
            <div id="liveToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Tu n'as pas de sort sélectionné !
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>        
    </div>
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
      <div class="container mt-4" id="fin_page">
        <p class="footer">Projet Réaliser par Polaris6916 <a href="https://github.com/Polaris6916" target="_blank"><i class="bi bi-github"></i></a></p>
        <p class="footer">Publier sous license <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU General Public License (GPL)</a></p>
        <p class="footer">Les cartes sont réalisée par Dark Hero From The North (DHFTN) <a href="https://dhftn.github.io/index.html" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a> diffusées sous licence Creative Commons BY-NC-ND</p>
        <p class="footer">Ceci est un contenu de fan non officiel autorisé dans le cadre de la Politique des contenus de fans. Ni approuvé, ni promu par Wizards. Certaines parties des matériaux utilisés sont la propriété de Wizards of the Coast. ©Wizards of the Coast LLC. </p>
      </div>
    </footer>
</body>
</html>